/* TODO Add site wide styles */


#root{
    z-index: 0;
    position: relative;
    height: 100%;
    
}

body{
    padding: 0 25%;
    /* padding-bottom: 25%; */
    margin: 0;
    /* background-color: black;
    color: white; */
    /* background-color: aliceblue; */
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    background-color: black;
}

button{
    background-color: black;
}


*{
    font-family: monospace;
}




