/* TODO Add site wide styles */


#root{
    z-index: 0;
    position: relative;
    height: 100%;
    
}

body{
    padding: 0 25%;
    /* padding-bottom: 25%; */
    margin: 0;
    /* background-color: black;
    color: white; */
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    background-color: black;
}

button{
    background-color: black;
}


*{
    font-family: monospace;
}


@media all and (max-width: 500px){
    img#logoImg{
        /* display: none; */
        width: 93px;
        align-self: flex-start;
        margin-left: 0px
    }
    nav.navDiv{
        width: 100%;
        display: grid;
        height: 5vh;
        top: 0; 
        left: 0;
        z-index: 4;
        border-bottom: 1px solid white;

    }
    div#root h1{
        margin-top: 2vh;
    }
    body{
        padding: 0px;
    }
    div.nav-auth{
        display: flex;
        padding-right: 5vw;
        /* justify-content: space-around; */
        background-color: black;
        margin: 0;

    }
    div.nav-links-div{
        display:flex;
        flex-direction: row;
        background-color: black;
        margin: 0;
        padding-left: 0vw;
        justify-content: space-between;

    }

    div.homeClick{
        width: 80px;
    }

    a.homeClick{
        width: 100px;
        height: 15px;
        margin:0;
        padding:0;
    }
    ul.profile-dropdown{
        margin-right: 0px;
        padding-right: 0px;
        right: 0;
        padding-right: 5px;
        position:absolute;
        margin-bottom: 20px;
    }
    div#root{
        width: 100vw;
    }
    footer.footer {
        width: 100%;
    }
    form#searchForm {
        margin-left: 13px;
        width: 350px;
        margin-right: 13px;
    }
    body h1{
        margin-left: 20px;
        margin-right: 20px;
    }

    body h2{
        margin-left: 15px;
    }
    div.specPlanetPage{
        margin-left: 10vw;
        margin-right: 10vw;
        display:flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    div.reviewBlock{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    div#reviewPlanetForm{
        margin-top: 8vh;
    }
    form.reviewForm{

        margin-bottom: 6vh;
    }
    div.reviewStars.reviewContent{
        margin-top: 2vh;
    }

    h3#revHeader{
        margin-top: 5vh;
    }

    div.searchResults{
        padding-bottom: 8vh;
    }

    div.planetContainer{
        display: grid;
        grid-template-columns: 100%;
        width: 100vw;
        margin: 0;
        justify-items: center;
    }
    h2#planetPageHeader{
        width: 80vw;
        margin: 10vw 10vw 10vw;
        text-align: center;
    }
    

}




