.logForm{
    display: flex;
    flex-direction: column;
}

.submitLogButton{
    width: fit-content;
}

.submitLogButton:hover{
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

input{
    margin-left: .5em;
}