#searchForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


#searchForm > * {
    margin-top: .4em;
    margin-bottom: .4em;
}

#searchForm > input{
    width: 10em;

}

.resetButton:hover{
    background-color: rgb(42, 42, 42);
    cursor: pointer;
}

.resetButton{
    width: fit-content;
}

.searchResults{
    margin-top: 10vh;
    padding-bottom: 5vh;
}

.collapseButton{
    margin-top: 1em;
    margin-bottom: 2%;
}

.collapseButton:hover{
    cursor: pointer;
}

.oneResult:hover{
    background-color: rgb(42, 42, 42);
}

#tempScale{
    background-color: white;
    margin-left: 1vw;
    margin-bottom: 2vh;
    margin-top: 2vh;

}
#tempScale:hover{
    cursor: pointer;
}

.searchInput{
    margin-left: 1vw;
    margin-bottom: 2vh;

}

.collapseButton:hover{
    background-color: rgb(216, 216, 216);
}

#systemSelect{
    margin-left: 1vw;
}

#systemSelect:hover{
    cursor: pointer;
}

.systemSelectSpec:hover{
    cursor: pointer;
}

.searchContainer{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between
}

.searchCalendar{
    margin-top: 2vh;
}

.oneResult{
    font-size: 15px;
}






