.navDiv{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.homeClick{
    background-color: black;
    width: fit-content;
}

.homeClick:hover{
    background-color: rgb(42, 42, 42);
}


button{
    background-color: white;
    border: 0px outset white;
    border-radius: 0px;
}

.profile-dropdown{
    position: absolute;
    right: 0px;
    list-style-type: none;
    text-align:right;
    top: 20px;

}

.profile-dropdown button{
    background-color: black;
    color: white;
    border: 1px solid white;
    margin-top: 0.5vh;
}


.fa-user-astronaut:hover{
    cursor: pointer;
}

#demoButton:hover{
    cursor:pointer;
    color: rgb(185, 185, 185);

}

#logoImg{
    position: relative;
    height: 2.5vh;
    border: none;
    width: 8vw;
    left: 0px;
}



