.navDiv{
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid white;

    
}

.homeClick{
    background-color: black;
    width: fit-content;
}

.homeClick:hover{
    background-color: rgb(42, 42, 42);
}


button{
    background-color: white;
    border: 0px outset white;
    border-radius: 0px;
}

.profile-dropdown{
    position: absolute;
    right: 0px;
    list-style-type: none;
    text-align:right;
    top: 10px;
}


.fa-user-astronaut:hover{
    cursor: pointer;
}

#demoButton:hover{
    cursor:pointer;
    color: rgb(185, 185, 185);

}



